// Here you can add other styles
body {
  background-color: $primary-cl;
}


.bg-G {
  background-color:$color-G;
}

.bg-B0 {
    background-color:$color-b0;
  }



  .bg-B1 {
    background-color:$color-b1;
  }

  .bg-B2 {
    background-color:$color-b2;
  }

  .bg-B3 {
    background-color:$color-b3;
  }




